{% extends "wedding/layout.html" %}
{% load static %}

{% block body %}

    <div class="gallery-container">
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image3.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image4.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image5.jpg' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image13.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image8.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image11.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image13.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image15.jpg' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image16.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image17.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image18.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image19.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src="{% static 'wedding/images/image21.webp' %}" alt="Gallery Image" loading="lazy">
        </div>
    </div>

{% endblock %}